html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  background: #030303;
}
.frame {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: Transparent;
}
button {
  margin: 5px;
  outline: none;
  position: absolute;
}
.btn {
  width: 80px;
  height: 20px;
  padding: 5px 5px;
  border: 2px solid #EC90BF;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.btn:hover{
  margin: 6px 8px 10px;
}
.btn:hover:after {
  background: #FAFAFA;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.btn:focus, .btn:active {
  background: #FAFAFA;
}

#rosa:hover:after, #rosa:focus{
  background: #EC90BF;
}
#rosita:hover:after, #rosita:focus{
  background: #F15733;
}
#fucsia:hover:after, #fucsia:focus{
  background: #FC3DC9;
}
#naranja:hover:after, #naranja:focus{
  background: #FDA449;
}
#anaranjado:hover:after, #anaranjado:focus{
  background: #F2B361;
}
#amarillo:hover:after, #amarillo:focus{
  background: #E4BE5B;
}
#verde:hover:after, #verde:focus{
  background: #7DFF9B;
}
#celeste:hover:after, #celeste:focus{
  background: #00FFF9;
}
#cian:hover:after, #cian:focus{
  background: #39C7CB;
}
#azul:hover:after, #azul:focus{
  background: #016DF6;
}
#violeta:hover:after, #violeta:focus{
  background: #9F34D8;
}
#lila:hover:after, #lila:focus{
  background: #C86DDE;
}

p, #log {
  color: #FAFAFA;
  background-color: Transparent;
  position: absolute;
  text-align: left;
  font-size: 22px;
}
/*html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(1, 1, 1);
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  overflow: hidden;
}

p, #log {
  color: #FAFAFA;
  background-color: Transparent;
  position: absolute;
  text-align: left;
  font-size: 22px;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: Transparent;
}

#bColor {
  position: absolute;
}
*/
